[Unit]
Description=Slack Thread Bot

[Service]
ExecStart=direnv exec . uv run main.py
WorkingDirectory=/home/pipelines/GIT/slack-thread-bot
Restart=always

[Install]
WantedBy=default.target
